body,h1,p,table,tr,th,td,fieldset
{
	margin:0;
	padding:0;
	font-size:100%;
}

#appProductList fieldset{border:0;}


#header{text-align: center;margin:24px 0;}
#footer{text-align: center;margin-top:24px;}

#appProductList
{
	border:1px solid #CCC;
	background: #EEE;
	min-width:320px;
	max-width:640px;
	
	margin:0 auto;
	padding:24px;
}

#appProductList .success{color:#25880A;}
#appProductList .failure{color:#A90329;}

#appProductList form +p{font-size:95%;font-family:"Cordia New";font-weight:bold;height:20px;}

#appProductList table.productTable{width:100%;border:1px solid #CCC;border-collapse: collapse;}
#appProductList .productTable th{text-align:left;}

#appProductList td,th{padding:5px;}

#appProductList thead {background: #aaa;}
#appProductList th{width:150px;}
#appProductList th.active {background: #EEEEEE;}
#appProductList th.active:after { content: "↑";}
#appProductList th.active.up:after { content: "↓";}

#appProductList th:last-child{text-align:right;}
#appProductList tr > td:last-child{text-align:right;}

#appProductList .empty{text-align:left !important;}