<h3>Products</h3>
<table class='productTable'>
	<thead>
		<tr>
			<th data-sort='name'>Name</th>
			<th data-sort='price'>Price</th>
			<th data-sort='amount'>Amount</th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>