
<h2>Add Product</h2>
<form>
	<fieldset>
		<input name="name" 		id="inputProductName" 	placeholder="Name" />
		<input name="price" 	id="inputProductPrice" 	placeholder="Price" />
		<input name="amount" 	id="inputProductAmount" placeholder="Amount" />
		<input type="submit" 	id="inputProductButton" value="Add" />
	</fieldset>
</form>
<p class='submitMessage'></p>